@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="header">
    <div>
        <h1>Single Post</h1>
    </div>
</div>
<div class="singlepost">
    <div class="featured">
        <img src="~/Content/images/kiwi.jpg" alt="">
        <h1>NEW CHILLS FOR SUMMER</h1>

        <form method="post" action="https://24403.tagpay.fr/online/online.php">
            <input type="hidden" name="sessionid" value="@ViewBag.SessionID">
            <input type="hidden" name="merchantid" value="@ViewBag.MerchantID">
            <input type="hidden" name="amount" value="@ViewBag.Amount">
            <input type="hidden" name="currency" value="@ViewBag.Currency">
            <input type="hidden" name="purchaseref" value="@ViewBag.PurchaseRef">
            <input type="hidden" name="description" value="@ViewBag.Description">
            <input type="submit" id="image-button" value="" />
        </form>
       </div>

    <div class="sidebar">
        <h1>Recent Posts</h1>
        <img src="images/on-diet.png" alt="">
        <h2>ON THE DIET</h2>
        <span>By Admin on November 28, 2023</span>
        <p>You can replace all this text with your own text. You can remove any link to our website from this website template.</p>
        <a href="singlepost.html" class="more">Read More</a>
    </div>
</div>
