@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
    ViewBag.Title = "Product";
}

<div class="header">
    <div>
        <h1>Products</h1>
    </div>
</div>
<div>
    <ul>
        <li>
            <h1>All Time Classic</h1>
            <p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
        </li>
        <li>
            <img src="~/Content/images/kiwi.jpg" alt="">
           
            <h3> @Html.ActionLink("Kiwi", "Buying", "Home")</h3>
           
</li>
        <li>
            <img src="~/Content/images/mango.jpg" alt="">
            <h2> @Html.ActionLink("Mango", "Buying", "Home")</h2>
        </li>
        <li>
            <img src="~/Content/images/cantaloupe.jpg" alt="">
            <h2> @Html.ActionLink("Cantaloupe", "Buying", "Home")</h2>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Berry Special</h1>
            <p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
        </li>
        <li>
            <img src="~/Content/images/blackberry.jpg" alt="">
            <h2> @Html.ActionLink("Blackberry", "Buying", "Home")</h2>
        </li>
        <li>
            <img src="~/Content/images/strawberry.jpg" alt="">
            <h2> @Html.ActionLink("Strawberry", "Buying", "Home")</h2>
        </li>
        <li>
            <img src="~/Content/images/blueberry.jpg" alt="">
            <h2> @Html.ActionLink("Blueberry", "Buying", "Home")</h2>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Fruit Blast</h1>
            <p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
        </li>
        <li>
            <img src="~/Content/images/grapes.jpg" alt="">
            <h2> @Html.ActionLink("Grapes", "Buying", "Home")</h2>
        </li>
        <li>
            <img src="~/Content/images/green-apple.jpg" alt="">
            <h2> @Html.ActionLink("Green Apple", "Buying", "Home")</h2>
        </li>
        <li>
            <img src="~/Content/images/pineapple.jpg" alt="">
            <h2> @Html.ActionLink("Pineapple", "Buying", "Home")</h2>
        </li>
    </ul>
</div>

